<!DOCTYPE html>
<html>
<head>
    <title>Detail Page</title>
</head>
<body>

    <h1>Detail Page for <%= @book.title %></h1>

    <h2>Written by <%= @book.author %></h2>

    <div><%= @book.snippet %></div>


    <a href="/books">Back to Index Page</a>
</body>
</html>